<form [formGroup]="categoryForm" novalidate (ngSubmit)="onSubmit()" class="form-extras">
  <div class="header-extras">
    <mat-card-header>
      <mat-card-title *ngIf="data.id != null" class="title-extras">{{ 'CATEGORIES.UPDATE' | translate}}</mat-card-title>
      <mat-card-title *ngIf="data.id == null" class="title-extras">{{ 'CATEGORIES.ADD' | translate}}</mat-card-title>
    </mat-card-header>
  </div>
  <mat-card-content class="content-extras">
    <div class="row-extras">
      <mat-form-field class="full-width">
        <input color="primary" matInput placeholder="{{ 'CATEGORIES.CATEGORY' | translate }}"
          formControlName="category">
        <mat-error *ngIf="categoryForm.controls['category'].hasError('required')">
          {{ 'CATEGORIES.CATEGORY' | translate }} <strong>{{ 'REQUIRED' | translate }}</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>
  <div class="actions-extras">
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">{{ 'SAVE' | translate }}</button>
    </mat-card-actions>
  </div>


</form>
