<form [formGroup]="reasonForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card-header>
    <mat-card-title>{{ data.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input color="primary" matInput placeholder="Reason" formControlName="reason">
          <mat-error *ngIf="reasonForm.controls['reason'].hasError('required')">
            {{ 'REASONS.REASON' | translate }} <strong>{{ 'REQUIRED' | translate }}</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </mat-card-actions>
</form>
