<form [formGroup]="closeForm" novalidate (ngSubmit)="onSubmit()">
  <div class="form-extras">
    <div class="header-extras">
      <mat-card-header>
        <mat-card-title class="title-extras">{{ 'REGISTERS.CLOSEREGISTER' | translate }}</mat-card-title>
      </mat-card-header>
    </div>
    <div class="content-extras">

      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input type="number" color="primary" matInput placeholder="{{ 'REGISTERS.CLOSEMOUNT' | translate }}"
                formControlName="closeMount">
              <mat-error *ngIf="closeForm.controls['closeMount'].hasError('required')">
                {{ 'REGISTERS.CLOSEMOUNT' | translate }} <strong>{{ 'REQUIRED' | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>


        </div>

      </mat-card-content>
    </div>
    <div class="actions-extras">
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">{{ 'REGISTERS.CLOSE' | translate }}</button>
      </mat-card-actions>
    </div>
  </div>

</form>
