.spacer {
  flex: 1 1 auto;
}

.background-auth {
  background-image: linear-gradient(rgb(17, 17, 17), rgb(66, 66, 66));
  height: 100vh;
  width: 100vw;
}

.loader {
  position: absolute;
  width: 100%;
}

mat-list {
  margin-bottom: 5px;
}
