<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="title">{{title}}</span>

      <mat-list fxLayout="row">
        <mat-list-item>
          <app-theme-picker></app-theme-picker>
        </mat-list-item>
        <mat-list-item>
          <app-lang-selector></app-lang-selector>
        </mat-list-item>
      </mat-list>

      <span class="spacer"></span>

      <a mat-button routerLink="/auth/login"> {{ 'LOGIN.TITLE' | translate }}</a>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="loader">
    <app-loader class="progressbar"></app-loader>
  </div>

  <router-outlet></router-outlet>
</div>
