.step-stay-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 400px;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}



.row mat-form-field {
  width: 30%;

  @media (max-width: 767.98px) {
    width: 80%;
  }
}

.action {
  margin-top: 50px;
}

.customer-site {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  @media (max-width: 1400px) {
    flex-direction: column;
  }
}

.customer-extras {
  width: 100%;
  margin-top: 15px;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}


.resume-containter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.resume-info {
  width: 33.3%;
  height: 40px;
  font-size: 20px;


  @media (max-width: 1200px) {
    width: 50%;
  }

  @media (max-width: 767.98px) {
    width: 100%;
  }
}

.resume-data {
  font-weight: bold;
}
