<mat-card *ngIf="stay != null">
  <mat-card-header>
    <mat-card-title> ID: {{stay.id}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ 'STAYS.ROOM' | translate}}: {{ stay.room.number }}
    </p>
    <p>
      {{ 'STAYS.STATUS' | translate}}:
      <span *ngIf="stay.active">{{ 'STAYS.ACTIVE'| translate}}</span>
      <span *ngIf="!stay.active">{{ 'STAYS.FINISHED'| translate}}</span>
    </p>

    <p>
      {{ 'STAYS.ENTRYDATE' | translate}}: {{ stay.entryDate | date:'dd/MM/yyyy'}}
    </p>


    <p>
      {{ 'STAYS.OUTDATE' | translate}}: {{ stay.outDate  | date:'dd/MM/yyyy'}}
    </p>

    <p>
      {{ 'STAYS.PAID' | translate}}: {{ stay.totalPayments}}
    </p>

    <p>
      {{ 'STAYS.TOTALTOPAY' | translate}}: {{ stay.totalToPay}}
    </p>

    <p>
      {{ 'STAYS.REMAINING' | translate}}: {{ stay.totalRemaining}}
    </p>

    <p>
      {{ 'STAYS.TOTALCONSUMPTIONS' | translate}}: {{ stay.totalConsumptions}}
    </p>

    <p>
      {{ 'STAYS.PRICEPERDAY' | translate}}: {{ stay.pricePerDay}}
    </p>


    <p>
      {{ 'STAYS.CHECKIN' | translate}}: {{ stay.checkIn | date:'HH:mm dd/MM/yyyy'}}
    </p>


    <p>
      {{ 'STAYS.CHECKOUT' | translate}}: {{ stay.checkOut  | date:'HH:mm dd/MM/yyyy'}}
    </p>


    <p>
      {{ 'STAYS.CREATEDAT' | translate}}: {{ stay.createdAt  | date:'HH:mm dd/MM/yyyy'}}
    </p>

    <p *ngFor="let customer of stay.customers, let i = index">
      {{ 'STAYS.CUSTOMERNAME' | translate }}{{ i+1 }}: {{   customer.name + " " + customer.surname}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="!stay.active || stay.totalPayments < stay.totalToPay" mat-icon-button color="accent"
      (click)="finishStay(stay.id)">
      <mat-icon>check</mat-icon>
    </button>
    <button [disabled]="!stay.active" mat-icon-button color="primary" (click)="editStay(stay.id)">
      <mat-icon>edit</mat-icon>
    </button>
    <button [disabled]="!stay.active" mat-icon-button color="accent" (click)="addConsumption(stay.id)">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <button [disabled]="!stay.active" mat-icon-button color="accent" (click)="addPayment(stay.id)">
      <mat-icon>monetization_on</mat-icon>
    </button>
    <button [disabled]="!stay.active" mat-icon-button color="warn" (click)="deleteStay(stay.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
