<mat-grid-list [cols]="cols" rowHeight="400px" *ngIf="room != null">
  <mat-grid-tile *ngFor="let image of room.images">
    <mat-card class="card-images">
      <mat-card-header>
        <mat-card-title>{{ image.title }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <img class="images" [src]="image.path" [alt]="image.title">
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="warn" mat-button
          (click)="deleteImage(image.id)">{{ 'DELETE' | translate}}</button>
      </mat-card-actions>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="card-images">
      <mat-card-header>

        <mat-card-title *ngIf="temporalImage" class="input-title">
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input type="email" matInput [formControl]="titleFormControl">
            <mat-error *ngIf="titleFormControl.hasError('required')">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </mat-card-title>

        <mat-card-title *ngIf="!temporalImage">{{ 'ROOMS.UPLOADIMAGE' | translate}}</mat-card-title>

      </mat-card-header>

      <mat-card-content>
        <input *ngIf="!temporalImage" type="file" required accept="image/x-png,image/jpeg"
          (change)="changeImage($event.target)" />
        <img class="images" *ngIf="temporalImage" [src]="temporalImage" />
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="warn" *ngIf="temporalImage" mat-button
          (click)="clean()">{{ 'CANCEL' | translate}}</button>
        <button mat-raised-button type="submit" color="primary" *ngIf="temporalImage" mat-button
          (click)="saveImage()">{{ 'SAVE' | translate}}</button>

      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>



<div class="img-container">

</div>
