<div class="head">
  <div>
    <mat-form-field class="filter">
      <input matInput placeholder="{{ 'FILTER' | translate }}"
        (keyup)="filterSubject.next($any($event.target).value)" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label> {{ 'STAYS.DATERANGE' | translate }}</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker" required>
        <input matStartDate formControlName="start" placeholder="{{ 'STAYS.START' | translate}}">
        <input matEndDate formControlName="end" placeholder="{{ 'STAYS.END' | translate}}">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
  </div>
</div>

<div class="example-container mat-elevation-z8 animate__animated animate__fadeIn animate__delay-0.4s">
  <mat-table matSort matSortActive="id" matSortDirection="desc" matSortDisableClear [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="id"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- product Column -->
    <ng-container matColumnDef="product">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CONSUMPTIONS.PRODUCT' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Product"> {{row.product }} </mat-cell>
    </ng-container>

    <!-- amount Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CONSUMPTIONS.AMOUNT' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Amount"> {{row.amount }} </mat-cell>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CONSUMPTIONS.PRICE' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Amount"> {{row.price }} </mat-cell>
    </ng-container>

    <!-- paid Column -->
    <ng-container matColumnDef="paid">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CONSUMPTIONS.PAID' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Amount">
        <span *ngIf="row.paid"> {{'YES'|translate }} </span>
        <span *ngIf="!row.paid"> {{'NO'|translate }} </span>
      </mat-cell>
    </ng-container>


    <!-- stay Column -->
    <ng-container matColumnDef="stay">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CONSUMPTIONS.STAY' | translate }} </mat-header-cell>
      <mat-cell class="selectable" (click)="stayDetails(row.stay)" *matCellDef="let row" data-label="Stay"> {{row.stay}}
      </mat-cell>
    </ng-container>

    <!-- createdAt Column -->
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAYMENTS.CREATEDAT' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Created at"> {{row.createdAt | date:'dd/MM/yyyy HH:mm'}} </mat-cell>
    </ng-container>

    <!-- user Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CONSUMPTIONS.USER' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="User"> {{row.user}} </mat-cell>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef class="no-sort"> {{ 'DELETE' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="delete">
        <button mat-icon-button color="warn" (click)="deleteConsumption(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"> </mat-row>

  </mat-table>

  <mat-paginator #paginator [length]="totalElements" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 8, 10, 15]">
  </mat-paginator>
</div>
