<form [formGroup]="patymentForm" novalidate (ngSubmit)="onSubmit()" class="form-extras">

  <div class="header-extras">
    <mat-card-header>
      <mat-card-title class="title-extras">{{'PAYMENTS.ADD' |translate }}</mat-card-title>
    </mat-card-header>
  </div>

  <mat-card-content class="content-extras content">

    <div class="row">
      <mat-form-field class="full-width">
        <input autocomplete="off" type="number" color="primary" matInput
          placeholder="{{ 'PAYMENTS.AMOUNT' | translate }}" formControlName="amount">
        <mat-error *ngIf="patymentForm.controls['amount'].hasError('required')">
          {{ 'PAYMENTS.AMOUNT' | translate }} <strong>{{ 'REQUIRED' | translate }}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>{{ 'PAYMENTS.METHOD' | translate }}</mat-label>
        <mat-select formControlName="paymentMethod">
          <mat-option [value]="option.id" *ngFor="let option of paymentMethods$ | async">{{ option.method }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="patymentForm.controls['paymentMethod'].hasError('required')">
          {{ 'PAYMENTS.METHOD' | translate }} <strong>{{ 'REQUIRED' | translate }}</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <p class="reamining-text">{{ 'STAYS.REMAINING' | translate }} :<span>{{remaining }}</span></p>

      <p class="reamining-text">{{ 'PAYMENTS.AFTERPAY' | translate }} :<span>{{newRemaining }}</span>
      </p>
    </div>


  </mat-card-content>

  <div class="actions-extras">
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">{{ 'SAVE' | translate }}</button>
    </mat-card-actions>
  </div>


</form>
