<form [formGroup]="inoviceForm" novalidate (ngSubmit)="onSubmit()" class="form-extras">

  <div class="header-extras">
    <mat-card-header>
      <mat-card-title *ngIf="data.id != null" class="title-extras">{{ 'INVOICES.UPDATE' | translate}}</mat-card-title>
      <mat-card-title *ngIf="data.id == null" class="title-extras">{{ 'INVOICES.ADD' | translate}}</mat-card-title>
    </mat-card-header>
  </div>

  <mat-card-content class="content-extras">
    <div class="row-extras">
      <mat-form-field class="full-width">
        <input color="primary" matInput placeholder="{{ 'INVOICES.INVOICE' | translate }}" formControlName="type">
        <mat-error *ngIf="inoviceForm.controls['type'].hasError('required')">
          {{ 'INVOICES.INVOICES' | translate }} <strong>{{ 'REQUIRED' | translate }}</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>

  <div class="actions-extras">
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">{{ 'SAVE' | translate }}</button>
    </mat-card-actions>
  </div>
</form>
