<div class="head">
  <div>

    <button mat-raised-button color="accent" (click)="addNewStay()" class="add-button">
      {{ 'STAYS.ADD' | translate }}
    </button>
  </div>
  <div>
    <mat-form-field class="filter">
      <input matInput placeholder="{{ 'FILTER' | translate }}"
        (keyup)="filterSubject.next($any($event.target).value)" />
    </mat-form-field>
  </div>
  <div>
    <mat-radio-group class="tp-radio-group" [(ngModel)]="statusSelected">
      <mat-radio-button (click)="filterByStatus('ACTIVE')" value="ACTIVE">{{ 'STAYS.ACTIVE' | translate}}
      </mat-radio-button>
      <mat-radio-button (click)="filterByStatus('FINISHED')" value="FINISHED">{{ 'STAYS.FINISHED' | translate}}
      </mat-radio-button>
      <mat-radio-button (click)="filterByStatus('PENDING')" value="PENDING">{{ 'STAYS.PENDING' | translate}}
      </mat-radio-button>
      <mat-radio-button (click)="filterByStatus('ALL')" value="ALL">{{ 'STAYS.ALL' | translate}}</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <mat-form-field>
      <mat-label> {{ 'STAYS.DATERANGE' | translate }}</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker" required>
        <input matStartDate formControlName="start" placeholder="{{ 'STAYS.START' | translate}}">
        <input matEndDate formControlName="end" placeholder="{{ 'STAYS.END' | translate}}">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
  </div>
</div>

<div class="example-container mat-elevation-z8 animate__animated animate__fadeIn animate__delay-0.4s">
  <mat-table matSort matSortActive="status" matSortDirection="desc" matSortDisableClear [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell (click)="onRowClicked(row)" *matCellDef="let row" data-label="id"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- room Column -->
    <ng-container matColumnDef="room">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'STAYS.ROOM' | translate }} </mat-header-cell>
      <mat-cell (click)="onRowClicked(row)" *matCellDef="let row" data-label="Room"> {{row.room }} </mat-cell>
    </ng-container>

    <!-- totalGuest Column -->
    <ng-container matColumnDef="totalGuest">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="no-sort"> {{ 'STAYS.TOTALGUEST' | translate }}
      </mat-header-cell>
      <mat-cell (click)="onRowClicked(row)" *matCellDef="let row" data-label="Total guests"> {{row.totalGuest}}
      </mat-cell>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'STAYS.STATUS' | translate }} </mat-header-cell>
      <mat-cell (click)="onRowClicked(row)" *matCellDef="let row" data-label="Status">
        <span *ngIf="row.status == 'ACTIVE'">{{ 'STAYS.ACTIVE' | translate}}</span>
        <span *ngIf="row.status == 'FINISHED'">{{ 'STAYS.FINISHED' | translate}}</span>
        <span *ngIf="row.status == 'PENDING'">{{ 'STAYS.PENDING' | translate}}</span>
      </mat-cell>
    </ng-container>

    <!-- checkIn Column -->
    <ng-container matColumnDef="entryDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'STAYS.ENTRYDATE' | translate }} </mat-header-cell>
      <mat-cell (click)="onRowClicked(row)" *matCellDef="let row" data-label="Check in">
        {{row.entryDate | date:'dd/MM/yyyy'  }} </mat-cell>
    </ng-container>

    <!-- checkOut Column -->
    <ng-container matColumnDef="outDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'STAYS.OUTDATE' | translate }} </mat-header-cell>
      <mat-cell (click)="onRowClicked(row)" *matCellDef="let row" data-label="Check out">
        {{row.outDate | date:'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="no-sort"> {{ 'STAYS.PRICE' | translate }}
      </mat-header-cell>
      <mat-cell (click)="onRowClicked(row)" *matCellDef="let row" data-label="Price"> {{row.price}} </mat-cell>
    </ng-container>

    <!-- pricePerDay Column -->
    <ng-container matColumnDef="pricePerDay">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="no-sort"> {{ 'STAYS.PRICEPERDAY' | translate }}
      </mat-header-cell>
      <mat-cell (click)="onRowClicked(row)" *matCellDef="let row" data-label="Price per day"> {{row.pricePerDay}}
      </mat-cell>
    </ng-container>

    <!-- paid Column -->
    <ng-container matColumnDef="paid">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="no-sort"> {{ 'STAYS.PAID' | translate }}
      </mat-header-cell>
      <mat-cell (click)="onRowClicked(row)" *matCellDef="let row" data-label="Paid"> {{row.paid}} </mat-cell>
    </ng-container>

    <!-- totalToPay Column -->
    <ng-container matColumnDef="totalToPay">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="no-sort"> {{ 'STAYS.TOTALTOPAY' | translate }}
      </mat-header-cell>
      <mat-cell (click)="onRowClicked(row)" *matCellDef="let row" data-label="Total to pay"> {{row.totalToPay}}
      </mat-cell>
    </ng-container>

    <!-- finish Column -->
    <ng-container matColumnDef="finishStay">
      <mat-header-cell *matHeaderCellDef class="no-sort"> {{ 'STAYS.FINISH' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Finish stay / Check in">
        <button *ngIf="row.status == 'ACTIVE'" [disabled]="row.paid < row.totalToPay" mat-icon-button color="primary"
          (click)="finishStay(row.id)">
          <mat-icon>check</mat-icon>
        </button>
        <button *ngIf="row.status == 'PENDING'" mat-icon-button color="primary" (click)="checkinStay(row.id)">
          <mat-icon>login</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef class="no-sort"> {{ 'EDIT' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="edit">
        <button [disabled]="row.status == 'FINISHED'" mat-icon-button color="accent" (click)="editStay(row.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef class="no-sort"> {{ 'DELETE' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="delete">
        <button [disabled]="row.status == 'FINISHED'" mat-icon-button color="warn" (click)="deleteStay(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>

  </mat-table>

  <mat-paginator #paginator [length]="totalElements" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 8, 10, 15]">
  </mat-paginator>
</div>
