<section>
  <div class="grid-container register-details animate__animated animate__fadeIn animate__delay-0.4s">
    <mat-tab-group mat-align-tabs="start" class="register-tabs">
      <mat-tab label="Register">
        <mat-card *ngIf="register != null">
          <mat-card-header>
            <mat-card-title> {{ 'REGISTERS.USER' | translate}}: {{ register.user.fullName }}</mat-card-title>
            <mat-card-subtitle>ID: {{register.id}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ 'REGISTERS.OPENMOUNT' | translate}}: {{register.openMount}}
            </p>
            <p>
              {{ 'REGISTERS.BALANCE' | translate}}: {{register.actualBalance || ''}}
            </p>
            <p>
              {{ 'REGISTERS.TOTALPAYMENTS' | translate}}: {{register.totalPayments || ''}}
            </p>
            <p>
              {{ 'REGISTERS.OPENDATE' | translate}}: {{register.createdAt |  date: 'dd/MM/yyyy'}}
            </p>
            <p *ngIf="register.closeTime != null">
              {{ 'REGISTERS.CLOSEDATE' | translate}}: {{register.closeTime |  date: 'dd/MM/yyyy'}}
            </p>
            <p *ngIf="register.closeMount != null">
              {{ 'REGISTERS.CLOSEMOUNT' | translate}}: {{register.closeMount}}
            </p>
            <p>
              {{ 'REGISTERS.STATUS' | translate}}:
              <span *ngIf="register.active">{{ 'REGISTERS.ACTIVE'| translate}}</span>
              <span *ngIf="!register.active">{{ 'REGISTERS.DEACTIVATE'| translate}}</span>
            </p>

          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button color="accent" (click)="editRegister(register.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteRegister(register.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
    </mat-tab-group>

    <mat-tab-group class="tabs-extras">
      <div>
        <mat-tab *ngIf="payments && payments.length > 0" label="{{ 'PAYMENTS.PAYMENTS' | translate}}">
          <app-payments-table [payments]="payments"></app-payments-table>
        </mat-tab>
      </div>
    </mat-tab-group>



  </div>
</section>
