<form [formGroup]="consumptionForm" novalidate (ngSubmit)="onSubmit()" class="form-extras">

  <div class="header-extras">
    <mat-card-header>
      <mat-card-title class="title-extras">{{'CONSUMPTIONS.ADD' |translate }}</mat-card-title>
    </mat-card-header>
  </div>

  <mat-card-content class="content-extras content">

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label>{{ 'CONSUMPTIONS.PRODUCT' | translate }}</mat-label>
        <mat-select formControlName="product">
          <mat-option (click)="setProduct(option)" [value]="option.id" *ngFor="let option of products$ | async">
            {{ option.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="consumptionForm.controls['product'].hasError('required')">
          {{ 'CONSUMPTIONS.PRODUCT' | translate }} <strong>{{ 'REQUIRED' | translate }}</strong>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="full-width">
        <input autocomplete="off" type="number" color="primary" matInput
          placeholder="{{ 'CONSUMPTIONS.AMOUNT' | translate }}" formControlName="amount">
        <mat-error *ngIf="consumptionForm.controls['amount'].hasError('required')">
          {{ 'CONSUMPTIONS.AMOUNT' | translate }} <strong>{{ 'REQUIRED' | translate }}</strong>
        </mat-error>
      </mat-form-field>

    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <input autocomplete="off" type="number" color="primary" matInput
          placeholder="{{ 'CONSUMPTIONS.PAID' | translate }}" formControlName="paid">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>{{ 'CONSUMPTIONS.METHOD' | translate }}</mat-label>
        <mat-select [disabled]="consumptionForm.controls['paid'].value == 0" formControlName="paymentMethod">
          <mat-option [value]="option.id" *ngFor="let option of paymentMethods$ | async">{{ option.method }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <p class="info-text">{{ 'CONSUMPTIONS.UNITPRICE' | translate }} :<span>{{productPrice }}</span></p>

      <p class="info-text">{{ 'PRODUCTS.STOCK' | translate }} :<span>{{productStock }}</span>
      </p>
    </div>

    <div class="row">
      <p class="info-text">{{ 'CONSUMPTIONS.STAYREMAINING' | translate }} :<span>{{stayRemining }}</span></p>

      <p class="info-text">
        {{ 'CONSUMPTIONS.CONSUMPTIONREMAINING' | translate }} :<span>{{consumptionReamining }}</span>
    </div>

    <div class="row">
      <p class="reamining-text">{{ 'CONSUMPTIONS.TOTALCONSUMPTION' | translate }} :<span>{{totalToPay }}</span></p>
    </div>

  </mat-card-content>
  <div class="actions-extras">
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">{{ 'SAVE' | translate }}</button>
    </mat-card-actions>
  </div>


</form>
