.full-width {
  width: 250px
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}

mat-card-content {
  width: 100%;
}

.col {
  width: 100%;
}

.actions {
  height: 10%;
  width: 100%;
}

.header-extras {
  height: 10%;


}

mat-card-title {
  @media (max-width: 767.98px) {
    font-size: 20px !important;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 100%;
}

.info-text {
  font-size: 22px;
  width: 40%;
  text-align: left;

  @media (max-width: 1000px) {
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
}

.reamining-text {
  font-size: 24px;
  width: 100%;
  text-align: center;
}

.reamining-text span,
.info-text span {
  margin-left: 8px;
  font-weight: bold;
}
