mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

mat-card-title {
  font-size: 35px !important;
  margin-top: 30px;
  margin-bottom: 80px;
}



mat-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3em;
}

mat-form-field {
  width: 250px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 200px;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.col {
  font-size: 1.4em;
  margin-top: 40px;
}

mat-card-actions {
  margin-top: 80px;
}

.change-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.change-image img {
  margin-left: 40px;
  max-width: 200px;
  max-height: 200px;
}
