.chart-card {
  width: 80%;
  height: 100%;
  margin-top: 10px;
}

.flex-me {
  display: inline-flex;
  flex-flow: row wrap;
  background: grey;
}

.grid-container {
  margin: 20px;
}

.title {
  padding-top: 5px;
}
