.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filter {
  width: 250px;
}



@media screen and (max-width: 1400px) {
  .head {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  /*  Enable this to hide header
  .mat-table .mat-header-cell {

    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */



  .mat-table .mat-header-cell {
    width: 100%;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }


  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 30px;
    margin-bottom: 4%;
    padding-left: 24px;
    padding-right: 24px;

  }

  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .85em;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }

  .mat-table .mat-cell:first-child {
    margin-top: 5%;
  }

  .no-sort {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .mat-column-id {
    flex: 0 0 5% !important;
    width: 5% !important;
  }

  .mat-column-edit {
    flex: 0 0 5% !important;
    width: 5% !important;
  }

  .mat-column-delete {
    flex: 0 0 5% !important;
    width: 5% !important;
  }

}
