<div class="container mat-elevation-z8 animate__animated animate__fadeIn animate__delay-0.4s">
  <mat-table matSort matSortActive="id" matSortDirection="asc" matSortDisableClear [dataSource]="dataSource">
    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CUSTOMERS.FULLNAME' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Name"> {{row.name + " " + row.surname}} </mat-cell>
    </ng-container>

    <!-- dni Column -->
    <ng-container matColumnDef="dni">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CUSTOMERS.DNI' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="dni"> {{row.dni}} </mat-cell>
    </ng-container>


    <!-- delete Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef class="no-sort"> {{ 'EDIT' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="edit">
        <button mat-icon-button color="accent" (click)="editCustomer(row.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef class="no-sort"> {{ 'DELETE' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="delete">
        <button mat-icon-button color="warn" (click)="deleteCustomer(row.dni)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>

  </mat-table>
</div>
