<section fxLayoutAlign="center">
  <mat-card>
    <form
      [formGroup]="activateAcountForm"
      novalidate
      (ngSubmit)="onSubmit()"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="12px"
    >
      <mat-card-header>
        <mat-card-title>Activate acount</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline" color="accent">
              <input
                matInput
                placeholder="New password"
                formControlName="password"
                type="password"
              />
              <mat-error
                *ngIf="
                  activateAcountForm.controls['password'].hasError('required')
                "
              >
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline" color="accent">
              <input
                matInput
                placeholder="Repeat password"
                formControlName="repeatPassword"
                type="password"
              />
              <mat-error
                *ngIf="
                  activateAcountForm.controls['repeatPassword'].hasError(
                    'required'
                  )
                "
              >
                Repeat password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [disabled]="activateAcountForm.invalid"
          type="submit"
        >
          Save
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
