<mat-card *ngIf="customer">
  <mat-card-header>
    <mat-card-title> {{ customer.name + " " + customer.surname }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="customer.email">
      {{'CUSTOMERS.EMAIL' | translate}}: {{customer.email || ''}}
    </p>
    <p *ngIf="customer.birthday">
      {{'CUSTOMERS.BIRTHDAY' | translate}}: {{customer.birthday | date: 'dd/MM/yyyy'}}
    </p>
    <p *ngIf="customer.phone">
      {{'CUSTOMERS.PHONE' | translate}}: {{customer.phone || ''}}
    </p>
    <p *ngIf="customer.celphone">
      {{'CUSTOMERS.CELPHONE' | translate}}: {{customer.celphone}}
    </p>
    <p *ngIf="customer.invoiceType">
      {{'CUSTOMERS.INVOICETYPE' | translate}}: {{customer.invoiceType.type}}
    </p>
    <p *ngIf="customer.cuil">
      {{'CUSTOMERS.CUIL' | translate}}: {{customer.cuil}}
    </p>
    <p *ngIf="customer.cuit">
      {{'CUSTOMERS.CUIT' | translate}}: {{customer.cuit}}
    </p>
    <p *ngIf="customer.createdAt">
      {{'CUSTOMERS.CREATEDAT' | translate}} : {{customer.createdAt |  date: 'dd/MM/yyyy'}}
    </p>
    <p *ngIf="customer.updatedAt">
      {{'CUSTOMERS.UPDATEDAT' | translate}}: {{customer.updatedAt |  date: 'dd/MM/yyyy'}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary" (click)="editCustomer(customer.id)">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
