<mat-sidenav-container class="sidenav-container">
  <!-- Navigation menu in sidebar-->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <mat-toolbar class="mat-elevation-z6" color="primary">Menu</mat-toolbar>

    <mat-nav-list>

      <a (click)="setTitle(menuItem.title)" *ngFor="let menuItem of menuItems" mat-list-item
        [routerLink]="[menuItem.path]" routerLinkActive="item-selected">
        <mat-icon class="menu-icon" color="danger">{{ menuItem.icon }}</mat-icon>{{ menuItem.title}}
      </a>

      <a [matMenuTriggerFor]="administration" mat-list-item *ngIf="user != null && user.roles.includes('ADMIN')">
        <mat-icon class="menu-icon" color="danger">settings</mat-icon>{{ 'MENU.ADMINISTRATION' | translate }}
      </a>

      <mat-menu #administration="matMenu">
        <a (click)="setTitle(adminMenuItem.title)" *ngFor="let adminMenuItem of adminMenuItems" mat-menu-item
          [routerLink]="[adminMenuItem.path]" routerLinkActive="item-selected">
          <mat-icon>{{ adminMenuItem.icon}}</mat-icon>
          <span>{{ adminMenuItem.title}}</span>

        </a>
      </mat-menu>


    </mat-nav-list>
  </mat-sidenav>
  <!-- Navigation menu in sidebar-->
  <mat-sidenav-content>
    <!-- Rigth side of navbar-->
    <mat-toolbar color="primary" class="mat-elevation-z6">


      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="title" routerLink="dashboard">{{ title }}</span>
      <div class="selectors">
        <app-theme-picker></app-theme-picker>
        <app-lang-selector></app-lang-selector>
      </div>
      <span class="easter-egg">The<mat-icon>cake</mat-icon>is a lie</span>

      <span class="spacer"></span>
      <span class="user-fullname" *ngIf="user != null && user.fullName != null">{{ user.fullName }}</span>
      <button mat-icon-button class="user-menu" aria-label="User avatar" [matMenuTriggerFor]="menu">
        <img [src]="avatar" alt="User avatar" class="user-avatar" *ngIf="avatar" />
        <img src="/assets/images/ss-icon.jpg" alt="User avatar" class="user-avatar" *ngIf="!avatar" />
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="update-acount">
          <mat-icon>perm_identity</mat-icon>
          <span>Modify acount</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
      <!-- Rigth side of navbar-->
    </mat-toolbar>
    <!-- Progresbar -->
    <div class="loader">
      <app-loader class="progressbar"></app-loader>
    </div>
    <!-- Progresbar -->
    <app-component-page-header [title]="actualTitle"></app-component-page-header>

    <!-- Main content -->
    <section id="principal">
      <ng-content></ng-content>
    </section>
    <!-- Main content -->
  </mat-sidenav-content>


</mat-sidenav-container>
