<div class="head">
  <div>
    <button mat-raised-button color="accent" (click)="addNewUser()" class="add-button">
      {{ 'USERS.VIEW.ADD' | translate }}
    </button>
  </div>
  <div>
    <mat-form-field class="filter">
      <input matInput placeholder="{{ 'USERS.VIEW.FILTER' | translate }}"
        (keyup)="filterSubject.next($any($event.target).value)" />
    </mat-form-field>
  </div>
</div>

<div class="example-container mat-elevation-z8 animate__animated animate__fadeIn animate__delay-0.4s">
  <mat-table matSort matSortActive="id" matSortDirection="asc" matSortDisableClear [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="id"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- fullName Column -->
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'USERS.FULLNAME' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Full name"> {{row.fullName}} </mat-cell>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'USERS.EMAIL' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="email"> {{row.email}} </mat-cell>
    </ng-container>

    <!-- roles Column -->
    <ng-container matColumnDef="roles">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'USERS.ROLES' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="roles"> {{row.roles}} </mat-cell>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef class="no-sort"> {{ 'EDIT' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="edit">
        <button mat-icon-button color="accent" (click)="editUser(row.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef class="no-sort"> {{ 'DELETE' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="delete">
        <button mat-icon-button color="warn" (click)="deleteUser(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"> </mat-row>


  </mat-table>

  <mat-paginator #paginator [length]="totalElements" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 8, 10, 15]">
  </mat-paginator>
</div>
