<mat-grid-list [cols]="totalCols" rowHeight="360px">
  <!-- WELCOME -->
  <mat-grid-tile [colspan]="totalCols" [rowspan]="1">
    <mat-card class="dashboard-card animate__animated animate__fadeIn animate__delay-0.4s ">
      <mat-card-header>
        <mat-card-title>
          {{'DASHBOARD.WELCOME'|translate}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content images-card">
        <p class="welcome-title">{{'DASHBOARD.WELCOME-TITLE'|translate}}</p>
        <p class="welcome-text">Cordial Atención y Hospedaje desde 1983.</p>
        <p class="welcome-text">Corrientes 56, Oberá, Misiones.</p>
        <p class="welcome-text">Telefono: +54 3755 421892</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!-- WELCOME -->

  <!-- PRICES -->
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-card class="dashboard-card animate__animated animate__fadeIn animate__delay-0.4s">
      <mat-card-header>
        <mat-card-title>
          {{'DASHBOARD.PRICES'|translate}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content ">
        <div class="card-title">{{'DASHBOARD.PRICES-TITLE'|translate}}</div>
        <div class="price-content">
          <p class="price-info" *ngFor="let roomPrice of roomPrices$ | async">
            <span>
              {{roomPrice.description}}
            </span>
            <span>
              $ {{roomPrice.price}}
            </span>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!-- PRICES -->

  <!-- INCLUDE -->
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-card class="dashboard-card animate__animated animate__fadeIn animate__delay-0.4s">
      <mat-card-header>
        <mat-card-title>
          {{'DASHBOARD.INCLUDE'|translate}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div class="card-title"> {{'DASHBOARD.INCLUDE-TITLE'|translate}}</div>
        <div class=" include-content">
          <p class="include-info">
            <span>{{'DASHBOARD-INCLUDES.BREAKFAST'|translate}}</span>
          </p>
          <p class="include-info">
            <span>{{'DASHBOARD-INCLUDES.WIFI'|translate}}</span>
          </p>
          <p class="include-info">
            <span>{{'DASHBOARD-INCLUDES.AC'|translate}}</span>
          </p>
          <p class="include-info">
            <span>{{'DASHBOARD-INCLUDES.HEATING'|translate}}</span>
          </p>
          <p class="include-info">
            <span>{{'DASHBOARD-INCLUDES.TV'|translate}}</span>
          </p>
        </div>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!-- INCLUDE -->

  <!-- IMAGES -->
  <mat-grid-tile [colspan]="totalCols" [rowspan]="2">
    <mat-card class="dashboard-card animate__animated animate__fadeIn animate__delay-0.4s ">
      <mat-card-header>
        <mat-card-title>
          {{'DASHBOARD.IMAGES'|translate}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content images-card">
        <div class="card-title"> {{'DASHBOARD.IMAGES-TITLE'|translate}}</div>

        <ng-image-slider *ngIf="imageObject !=null" [images]="imageObject" #slide [infinite]="false" [autoSlide]="1"
          [imageSize]="{width: '500px', height: '500px'}" slideImage="1"></ng-image-slider>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!-- IMAGES -->

</mat-grid-list>
